# Part A of Final Report

## A) Data

In [1]:
#Read data using reproducible code and from non-local file
tips_df <- read.csv("https://raw.githubusercontent.com/gracieS02/tips-2/refs/heads/main/tips.csv")
head(tips)

  total_bill tip  sex    smoker day time   size
1 16.99      1.01 Female No     Sun Dinner 2
2 10.34      1.66 Male   No     Sun Dinner 3
3 21.01      3.50 Male   No     Sun Dinner 3
4 23.68      3.31 Male   No     Sun Dinner 2
5 24.59      3.61 Female No     Sun Dinner 4
6 25.29      4.71 Male   No     Sun Dinner 4

### Dataset summary

The dataset contains 244 observations and 7 variables, collected from a restaurant over time. Each entry represents a unique transaction, detailing bill amount, tip, payer's gender, smoking preference, day, time, and party size, making the data observational since there is no control over variables. Here is a summary table of variables in the dataset:

In [29]:
#Viewing variable types and descriptions in a table
library(knitr)

data <- tibble(
  Variable = c("total_bill", "tip", "sex", "smoker", "day", "time", "size"),
  Type = c("Numeric (float)", "Numeric (float)", "Categorical (string,binary)", "Categorical (string,binary)", 
           "Categorical (string)", "Categorical (string,binary)", "Numeric (integer)"),
  Description = c("Total bill amount (in USD)", "Tip amount (in USD)", "Sex of the customer (Male/Female)",
                  "Whether the customer is a smoker (Yes/No)", "Day of the week (Thur, Fri, Sat, Sun)",
                  "Meal type (Lunch/Dinner)", "Number of people in the dining party (1-6)")
)

kable(data, format = "markdown")

|Variable   |Type                        |Description                                |
|:----------|:---------------------------|:------------------------------------------|
|total_bill |Numeric (float)             |Total bill amount (in USD)                 |
|tip        |Numeric (float)             |Tip amount (in USD)                        |
|sex        |Categorical (string,binary) |Sex of the customer (Male/Female)          |
|smoker     |Categorical (string,binary) |Whether the customer is a smoker (Yes/No)  |
|day        |Categorical (string)        |Day of the week (Thur, Fri, Sat, Sun)      |
|time       |Categorical (string,binary) |Meal type (Lunch/Dinner)                   |
|size       |Numeric (integer)           |Number of people in the dining party (1-6) |

### Citation

Badole, S. (2021, September). Restaurant Tips Dataset. Kaggle. https://www.kaggle.com/datasets/saurabhbadole/restaurant-tips-dataset