# Part A of Final Report

## A) Data

In [1]:
#Read data using reproducible code and from non-local file
tips_df <- read.csv("https://raw.githubusercontent.com/gracieS02/tips-2/refs/heads/main/tips.csv")
head(tips)

  total_bill tip  sex    smoker day time   size
1 16.99      1.01 Female No     Sun Dinner 2
2 10.34      1.66 Male   No     Sun Dinner 3
3 21.01      3.50 Male   No     Sun Dinner 3
4 23.68      3.31 Male   No     Sun Dinner 2
5 24.59      3.61 Female No     Sun Dinner 4
6 25.29      4.71 Male   No     Sun Dinner 4

### Dataset summary

In [20]:
#using table to understand variable's type with description. 
library(knitr)

data <- data.frame(
  Variable = c("total_bill", "tip", "sex", "smoker", "day", "time", "size"),
  Type = c("Numeric (float)", "Numeric (float)", "Categorical (string,binary)", "Categorical (string,binary)", 
           "Categorical (string)", "Categorical (string,binary)", "Numeric (integer)"),
  Description = c("Total bill amount (in USD)", "Tip amount (in USD)", "Sex of the customer (Male/Female)",
                  "Whether the customer is a smoker (Yes/No)", "Day of the week (Thur, Fri, Sat, Sun)",
                  "Meal type (Lunch/Dinner)", "Number of people in the dining party (1-6)")
)

# kable(data, format = "markdown")
data

  Variable   Type
1 total_bill Numeric (float)
2 tip        Numeric (float)
3 sex        Categorical (string,binary)
4 smoker     Categorical (string,binary)
5 day        Categorical (string)
6 time       Categorical (string,binary)
7 size       Numeric (integer)
  Description
1 Total bill amount (in USD)
2 Tip amount (in USD)
3 Sex of the customer (Male/Female)
4 Whether the customer is a smoker (Yes/No)
5 Day of the week (Thur, Fri, Sat, Sun)
6 Meal type (Lunch/Dinner)
7 Number of people in the dining party (1-6)

### citation
Badole, S. (2021, September). Restaurant Tips Dataset. Kaggle. https://www.kaggle.com/datasets/saurabhbadole/restaurant-tips-dataset

According to the dataset documentation, there are no missing or invalid values. A preliminary check also confirms that the data is clean and tidy. No variables need to be dropped. All the variables seems to be valuable to analyze in this stage.

The data is observational, since there is no control over variables. As the author mentioned:"the data in this dataset has been collected from a restaurant over a period of time. Each entry represents a unique transaction, capturing details about the bill amount, tip given, the gender of the person paying, smoking preference, day of the week, time of day, and the size of the dining party".